@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.first{
    text-align:center;
}
body {
    font-family: "Pattaya", sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_1280.jpg);
    color: #fff;
    margin: 0;
    padding: 20px;
}
        h1, h2, h3 {
            color: #00ffff;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #555;
            padding: 10px;
            text-align: left;
        }
        th {
            background: #333;
        }
        tr:nth-child(even) {
            background: #222;
        }
        .section {
            margin-top: 40px;
        }
        .btn{
            padding: 10px 15px;
            border: 2px solid #6e3a97;
            background-color: #555;
            color: #fff;
            border-radius: 10px;
            text-align: center;
           }
         .header{
            text-align:center;
        }
.btn:hover{
            transform: scale(1.1);
            background-color: #6aa396;
            transition: .5s;
            box-shadow: 0 0 10px 1px #00ffff;
        }
        
